<div class="logo">
  <img width="300" src="../assets/logo.png">
</div>
<div class="grid">
  <div [style.grid-area]="'lastGames'" class="grid__widget">
    <h3>Останні матчі</h3>
    <div class="last-games">
      <div class="last-games__row">
        <div class="last-games__cell" *ngFor="let player of players">
          <span [style.color]="playersColors[player]">
            {{ player }}
          </span>
        </div>
      </div>
      <div class="last-games__row" *ngFor="let game of last3Games">
        <div class="last-games__cell" *ngFor="let player of players" [class.winner]="isWinner(game, player)">
          <div class="last-games__corp">
            {{ getPlayerStatsInGame(player, game)?.corporation }}
          </div>
          <div class="last-games__vp">
            {{ getPlayerStatsInGame(player, game)?.VP }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [style.grid-area]="'players'" class="grid__widget">
    <h3>Гравці</h3>
    <div class="chart-box">
      <ng-container *ngFor="let player of sortByWinRate(players)">
        <ng-container [ngTemplateOutlet]="column" [ngTemplateOutletContext]="{
            winrate: getWinRate(player),
            color: playersColors[player],
            name: player,
            winned: gamesWon(player),
            played: gamesPlayed(player)
          }">
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div [style.grid-area]="'topScore'" class="grid__widget">
    <h3>Рекорд</h3>
    <div class="top-score">
      <div class="top-score__names">
        <span [style.color]="playersColors[getTopPlayer().name]">
          {{ getTopPlayer().name }}
        </span>
        &nbsp;+&nbsp;
        <span [style.color]="primaryColor">
          {{ getTopPlayer().corporation }}
        </span>
      </div>
      <div class="top-score__number">
        {{ getTopScore() }}
      </div>
    </div>
  </div>
  <div [style.grid-area]="'corporations'" class="grid__widget">
    <h3>Корпорації</h3>
    <div class="chart-box">
      <ng-container *ngFor="let corporation of sortByWinRate(corporations)">
        <ng-container [ngTemplateOutlet]="column" [ngTemplateOutletContext]="{
            winrate: getWinRate(corporation),
            color: primaryColor,
            name: corporation,
            winned: gamesWon(corporation),
            played: gamesPlayed(corporation)
          }">
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #column let-winrate="winrate" let-color="color" let-name="name" let-winned="winned" let-played="played">
  <div class="column">
    <div class="text-content" [style.color]="color">
      {{ name }}
    </div>
    <div class="column__data-viz" [style.background-color]="color" [style.height]="winrate * 2.5 + 'px'"></div>
    <div class="text-content">
      {{ winrate }}%
    </div>
    <div class="text-content">
      {{ winned }}&nbsp;/&nbsp;{{ played }}
    </div>
  </div>
</ng-template>
